.body {
  margin: 64px 0 0 0;
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
@media screen and (max-width: 479px) {
  .body {
    margin: 32px 0 0 0;
    font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }
}
