
/* @media screen and (min-width: 767px) {  */
    .body{
        height : 200px;
        background : #554e4e;
        padding : 50px;
        align-items: center;
    }
    .font{
        color : #ffffff;
    
    }
    .TextArea{
        padding: 20px;
    
    }
/* } */
@media screen and (max-width: 479px) { 
    .body{
        height : 200px;
        background : #554e4e;
        padding : 10px;
        align-items: center;
    }
    .body2{
        height : 200px;
        background : #ffffff;
        padding : 10px;
        align-items: center;
        
    }
    .font{
        color : #ffffff;
    
    }
    .TextArea{
        padding: 20px;
    }

    .grid{
        flex-direction: column;
    }
    
}